<a mat-raised-button class="back-button" routerLink="/">Back</a>

<div class="contact-card-wrapper">
  <mat-card class="contact-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Jeremy Cantu</mat-card-title>
      <mat-card-subtitle>Software Developer & Photographer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/content/headshot-photo.jpg" alt="Photo of Jeremy Cantu">
    <mat-card-content>
      <p>
        <strong>Location</strong>: Austin, TX</p>
      <p>
        <strong>Phone</strong>: (956)286-8386</p>
      <p>
        <strong>Email</strong>:
        <a class="email-link" href="mailto:jcantu521@gmail.com" target="_top">jcantu521@gmail.com</a>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button href="https://github.com/jac21" rel="noopener noreferrer" target="_blank">GitHub</a>
      <a mat-raised-button href="https://www.jeremycantu.com" rel="noopener noreferrer" target="_blank">Portfolio</a>
    </mat-card-actions>
  </mat-card>
</div>