<div class="contact-card-wrapper">
  <mat-card class="contact-card md-elevation-z4">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Jeremy Cantu</mat-card-title>
      <mat-card-subtitle>Software Developer & Photographer</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/images/content/headshot-photo.jpg"
      alt="Photo of Jeremy Cantu"
    />
    <div class="card-content-wrapper">
      <mat-card-content>
        <p>Austin, TX</p>
        <p>(956)286-8386</p>
        <p>
          <a class="email-link" href="mailto:jcantu521@gmail.com" target="_top"
            >mail@jeremycantu.com</a
          >
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a
          mat-raised-button
          href="https://www.jeremycantu.com"
          rel="noopener noreferrer"
          target="_blank"
          class="button-primary"
          >Portfolio</a
        >
        <a
          mat-raised-button
          href="https://github.com/jac21"
          rel="noopener noreferrer"
          target="_blank"
          class="button-primary"
          >GitHub</a
        >
        <link
          href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext"
          rel="stylesheet"
        />
        <a
          href="https://www.buymeacoffee.com/jac21"
          target="_blank"
          rel="noopener noreferrer"
          class="bmc-button"
        >
          <img src="assets/icons/BMC-btn-logo.svg" alt="Buy me a coffee" />
          <span style="margin-left: 5px">Buy me a coffee</span>
        </a>
      </mat-card-actions>
    </div>
  </mat-card>
  <app-lightbox-footer></app-lightbox-footer>
</div>
