<main>
  <section>
    <div class="container">
      <div id="macy-container">
        <!-- <app-photo *ngFor="let photo of photos" photoSrc={{photo.photoSrc}} photoAlt={{photo.photoAlt}}></app-photo> -->

        <app-photo
          [routerLink]="['/lightbox', 000070750028]"
          photoSrc="assets/images/photography/DSC_70750028.JPG"
          photoAlt="Arashiyama Yusaitei in Kyoto, Japan"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 63960011]"
          photoSrc="assets/images/photography/DSC_63960011.JPG"
          photoAlt="Lady Bird Johnson Wildflower Center in Austin, Texas"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 204160025]"
          photoSrc="assets/images/photography/DSC_204160025.JPG"
          photoAlt="Charco El Hippie in Puerto Rico"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 4705]"
          photoSrc="assets/images/photography/DSC_4705.JPG"
          photoAlt="Avila, Spain"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 4516]"
          photoSrc="assets/images/photography/DSC_4516.JPG"
          photoAlt="Jacinto Benavente statue in Madrid, Spain"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 4544]"
          photoSrc="assets/images/photography/DSC_4544.JPG"
          photoAlt="Monument to Alfonso XII in Madrid, Spain"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 4110]"
          photoSrc="assets/images/photography/DSC_4110.JPG"
          photoAlt="Martindale, Texas"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 1201]"
          photoSrc="assets/images/photography/DSC_1201.JPG"
          photoAlt="Pier in San Juan, Puerto Rico"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 2016]"
          photoSrc="assets/images/photography/DSC_2016.JPG"
          photoAlt="Walnut Creek Park in Austin, Texas"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 2876]"
          photoSrc="assets/images/photography/DSC_2876.JPG"
          photoAlt="Fredericksburg, Texas"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 1903]"
          photoSrc="assets/images/photography/DSC_1903.JPG"
          photoAlt="Walnut Creek Park in Austin, Texas"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 222]"
          photoSrc="assets/images/photography/DSC_0222.JPG"
          photoAlt="Red Fort, Agra, India"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 6393]"
          photoSrc="assets/images/photography/DSC_6393.JPG"
          photoAlt="Chihuly Garden and Glass, Seattle, Washington"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 6841]"
          photoSrc="assets/images/photography/DSC_6841.JPG"
          photoAlt="Seattle Japanese Garden, Seattle, Washington"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 6919]"
          photoSrc="assets/images/photography/DSC_6919.JPG"
          photoAlt="Gas Works Park, Seattle, Washington"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 0453]"
          photoSrc="assets/images/photography/DSC_0453.JPG"
          photoAlt="Hamilton Pool, near Dripping Springs, Texas"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 0422]"
          photoSrc="assets/images/photography/DSC_0422.JPG"
          photoAlt="Hamilton Pool, near Dripping Springs, Texas"
        ></app-photo>
        <app-photo
          [routerLink]="['/lightbox', 0631]"
          photoSrc="assets/images/photography/DSC_0631.JPG"
          photoAlt="Anamanaguchi at the Mohawk in Austin, Texas"
        ></app-photo>
      </div>
    </div>
  </section>
</main>
