<section>
  <div class='container'>
    <div id='macy-container'>
      <!-- <app-photo *ngFor="let photo of photos" photoSrc={{photo.photoSrc}} photoAlt={{photo.photoAlt}}></app-photo> -->

      <app-photo photoSrc="assets/images/photography/DSC_0063.JPG" photoAlt="Graffiti Park in Austin, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_0072.JPG" photoAlt="Graffiti Park in Austin, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_0129.JPG" photoAlt="Enchanted Rock, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_0335.JPG" photoAlt="Hamilton Pool, near Dripping Springs, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_0353.JPG" photoAlt="Hamilton Pool, near Dripping Springs, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_0358.JPG" photoAlt="Hamilton Pool, near Dripping Springs, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_0422.JPG" photoAlt="Hamilton Pool, near Dripping Springs, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_0453.JPG" photoAlt="Hamilton Pool, near Dripping Springs, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_0631.JPG" photoAlt="Anamanaguchi at the Mohawk in Austin, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_1201.JPG" photoAlt="Pier in San Juan, Puerto Rico"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_1407.JPG" photoAlt="El Yunque in Puerto Rico"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_2016.JPG" photoAlt="Walnut Creek Park in Austin, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_2824.JPG" photoAlt="Fredericksburg, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_2876.JPG" photoAlt="Fredericksburg, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_4110.JPG" photoAlt="Martindale, Texas"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_4493.JPG" photoAlt="Spain"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_4544.JPG" photoAlt="Monument to Alfonso XII in Madrid, Spain"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_4634.JPG" photoAlt="Spain"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_4705.JPG" photoAlt="Spain"></app-photo>
      <app-photo photoSrc="assets/images/photography/DSC_4873.JPG" photoAlt="Spain"></app-photo>
    </div>
  </div>
</section>

